<app-section [sectionTitle]="title"></app-section>

<mat-grid-list cols="4" rowHeight="55px">
    <mat-grid-tile colspan="1" rowspan="9">
        <mat-card class="left-card">
            <div fxLayout="column">
                <h2 align="center">Balance</h2>
                <h1 align="center" class="balance">{{this.totalBalance}} BTC</h1>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="9">
        <mat-card class="right-card">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        <h2 class="title">My wallets</h2>
                    </div>
                    <button class="mx my" mat-raised-button color="primary" (click)="openAddDialog()">Add
                        wallet</button>
                </div>
                <div fxLayout="row" fxLayoutAlign="end center">
                    
                </div>
                <div class="scroll-box">
                    <app-wallet [wallets]="this.wallets"></app-wallet>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>