.grid {
    border: 1px;
}
.scroll-box {
border: 1px;
padding: 5px;
height: 300px;
overflow: scroll;
}

::-webkit-scrollbar {
width: 8px;
height: 8px;
}

::-webkit-scrollbar-thumb {
background: rgb(204, 204, 204);  
}

::-webkit-scrollbar-thumb:hover {
background: rgb(158, 158, 158);  
}


.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.left-card {
  width: 80%;
  height: 80%;
}

.right-card {
  width: 90%;
  height: 80%;
}

.panel-title {
  font-weight: bold;
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 5px;
}