<div fxLayout="column">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let wallet of this.wallets" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title class="accordion-title">
                    {{ wallet.name }}
                </mat-panel-title>
                <mat-panel-description>
                    <span>Address: {{wallet.address.toString()}}</span>
                    <span class="balance">{{wallet.balance.toString()}} BTC</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container *ngIf="wallet.transactions.length === 0" >
                <span class="no-transactions">No transactions data</span>
            </ng-container>
            <table *ngIf="wallet.transactions.length !== 0">
                <thead>
                   <tr>
                      <th>Timestamp</th>
                      <th>Type</th>
                      <th>Exchange</th>
                      <th>Amount</th>
                   </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let transaction of wallet.transactions">
                      <th>{{ transaction.timestamp }}</th>
                      <td>{{ transaction.type }}</td>
                      <td>{{ transaction.fromCoin.symbol }} -> {{ transaction.toCoin.symbol }}</td>
                      <td>{{ transaction.amountSpent }}  {{ transaction.toCoin.symbol }}</td>
                   </tr>
                </tbody>
             </table>
            
            <mat-action-row>
                <button mat-button (click)="openEditDialog(wallet)">Edit</button>
                <button mat-button color="warn" (click)="onDelete(wallet)">Delete</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>