.profile-pic {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    height: 35px;
}

.user-name {
    font-size: small;
    margin-right: 20px;
}

.title {
    font-size: medium;
    font-weight: bold;
    margin-right: 20px;
}

.toolbar {
    height: 50px;
}